@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.wrapper {
    font-family: "Inter", sans-serif;
    position: fixed;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    touch-action: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: -0.0125rem;
    }
}

.project {
    position: absolute;
    width: 100%;
    height: 100svh;
    will-change: transform;
    overflow: hidden;
    transform: translateY(var(--currentY));

    & img {
        position: relative;
        transform: scale(1.5);
        will-change: transform;
        transform: translateY(var(--currentY)) scale(1.5);
    }
}

.project-list {

}

.minimap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 1230px;
    min-height: 200px;
    height: 20svh; // ???
    // background-color: white;
    padding: 1.5rem;
    overflow: visible;

    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &-img-preview {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0%;
        overflow: hidden;
        aspect-ratio: 16 / 10;
    }

    &-img-item {
        position: absolute;
        width: 100%;
        height: 100%;
        will-change: transform;
        overflow: hidden;
        transform: translateY(var(--currentY));

        & img {
            position: relative;
            will-change: transform;
            transform: translateY(var(--currentY)) scale(1.5);
        }
    }

    &-info-list {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &-info-item {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        will-change: transform;
        transform: translateY(var(--currentY));
        overflow: hidden;

        &-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            color: black;
            font-family: "Oswald";
            overflow: hidden;

            & p {
                font-size: 18px;
                font-weight: 900;
                letter-spacing: -5%;
                line-height: 1;
            }
        }
    }
}

.minimapBackground {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 60%;
    width: 0;
    height: 13%;
}

.letter {
    position: absolute;
    font-family: "Oswald";
    font-size: clamp(20px, 13vw, 160px);
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    & > div {
        transform: translateY(100%);
    }

    &Left {
        left: 0;
        top: 50%;
        transform: translate(calc(-100% - 48px), -50%);
    }

    &Right {
        right: 0;
        top: 50%;
        transform: translate(calc(100% + 48px), -50%);
    }
}

.text {
    position: absolute;
    font-size: clamp(12px, 2vw, 20px);
    text-transform: uppercase;
    font-family: "Oswald";
    overflow: hidden;

    & > div {
        transform: translateY(100%);
    }

    &1 {
        left: 0;
        top: 0;
        transform: translateY(calc(-100% - 24px));
    }

    &2 {
        left: 50%;
        bottom: 0;
        transform: translate(-50%, calc(100% + 24px));
    }

    &3 {
        right: 0;
        top: 0;
        transform: translateY(calc(-100% - 24px));
    }
}
